<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SendCrypt</title>
</head>
<body>
	<div class="container">
		<div class="one">
			<img src="" alt="">
			<h1>Ruby Von Rails</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima esse quod similique, tempore accusamus dolore omnis perferendis illo porro necessitatibus officia! Quia provident deleniti facilis consectetur, nostrum nesciunt quo minus.</p>
		</div>
		<div class="two">
			<table>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>